<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>View Articles</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    
    <!--
    <div *ngIf="condition; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>Content to render when condition is true.</ng-template>
    <ng-template #elseBlock>Content to render when condition is false.</ng-template>
    -->
    <ul *ngIf="articles">
      <li *ngFor="let article of articles">
        <a [routerLink]="['/article/display/', article._id]">{{article.title}}</a>
        <a >      {{article.description}} </a>
      </li>
    </ul> 
   
    
    <ion-button color="primary" expand="full" [routerLink]="['/home']">Home</ion-button> 
  </ion-content>

<!--  From ng-cms
  <h1>Articles</h1>
<ul *ngIf="articles">
  <li *ngFor="let article of articles">
    <a [routerLink]="['/articles/view/', article._id]">{{article.title}}  {{article.description}} </a>
  </li>
</ul>   -->