<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register to Use App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item *ngIf="errorMessage" color="danger">{{ errorMessage }}</ion-item>
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input type="text" name="firstname" [(ngModel)]="user.first_name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Last Name</ion-label>
    <ion-input type="text" name="lastname" [(ngModel)]="user.last_name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" name="username" [(ngModel)]="user.username" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item *ngIf="errorPw" color="danger">{{ errorPw }}</ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Reenter Password</ion-label>
<!--   JUNK <ion-input type="password" name="confirmPw" required></ion-input> -->
    <ion-input type="password" [(ngModel)]="confirmPw" text-left id="input" ></ion-input>
  </ion-item>

  <ion-button color="primary" expand="full" (click)="onSubmitRegistration()">Submit</ion-button>

  <ion-button color="primary" expand="full" [routerLink]="['/login']">Cancel</ion-button>
</ion-content>
